# Tổng quan đề tài

- Bạn nhận được Cơ sở dữ liệu bóng đá châu Âu có hơn 25.000 trận đấu và hơn 10.000 cầu thủ cho các mùa bóng đá chuyên nghiệp châu Âu từ 2008 đến 2016. Mục tiêu là bạn xem qua cơ sở dữ liệu này và thực hiện phân tích, bao gồm một số bước khám phá dữ liệu, thống kê cơ bản và sau đó bạn hình dung kết quả. Để hoàn thành tất cả các bước, bạn cần truy vấn dữ liệu trong cơ sở dữ liệu bằng cách sử dụng câu lệnh SQL. Đề tài này thực hành bạn viết lệnh SQL để kéo dữ liệu về và trích xuất nó.
- Dùng python để thực hiện các câu lệnh truy vấn

# Mô tả dữ liệu

Cơ sở dữ liệu bóng đá châu Âu này có hơn 25.000 trận đấu và hơn 10.000 cầu thủ cho các mùa bóng đá chuyên nghiệp châu Âu từ 2008 đến 2016, 11 quốc gia châu Âu với chức vô địch dẫn đầu. Các thuộc tính của Người chơi và Đội có nguồn gốc từ loạt trò chơi video FIFA của EA Sports, bao gồm các bản cập nhật hàng tuần.

# Import Python package

In [14]:
#Import libraries
import numpy as np
import pandas as pd
import sqlite3
from datetime import timedelta
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 100)

## Kết nối tới cơ sở dữ liệu và truy vấn thông tin của tất cả các bảng

In [15]:
#Connect to database 
conn = sqlite3.connect('database.sqlite')

#and get information of all tables
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

## Liệt kê table League

In [53]:
query = ''' select * from League
 '''
test = pd.read_sql(query,conn)
test

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

## Liệt kê table Country

In [16]:

query2='''select * from Country '''
result2 = pd.read_sql(query2, conn)
result2

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

## Liệt kê quốc gia và tên giải đấu của quốc gia đó

In [18]:

query4='''select Country.name as Country, League.name as 'League name' from Country inner join League on Country.id = League.country_id '''
result4 = pd.read_sql(query4, conn)
result4

        Country               League name
0       Belgium    Belgium Jupiler League
1       England    England Premier League
2        France            France Ligue 1
3       Germany     Germany 1. Bundesliga
4         Italy             Italy Serie A
5   Netherlands    Netherlands Eredivisie
6        Poland        Poland Ekstraklasa
7      Portugal  Portugal Liga ZON Sagres
8      Scotland   Scotland Premier League
9         Spain           Spain LIGA BBVA
10  Switzerland  Switzerland Super League

## Liệt kê các trận đấu trong bảng  “Match”
- Khi một đội là chủ nhà, đội đó là "home team". Đội còn lại là "away team"
- Trong bảng Match, mỗi dòng dư liệu là một trận đấu của một đội chủ nhà và đội khách, tương ứng với kết quả ghi bàn đội nhà (home goal) và đội khách (away goal).

In [19]:
#write your query
query5='''select * from Match '''
result5 = pd.read_sql(query5, conn)
result5

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,...,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,6.0,...,195215.0,462944.0,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,1.0,3.0,5.0,7.0,2.0,4.0,6.0,8.0,5.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,3.0,5.0,7.0,3.0,5.0,7.0,1.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,9.0,11.0,11.0,1.0,3.0,3.0,3.0,3.0,7.0,...,37257.0,42276.0,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,6.0,...,289472.0,10637.0,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,1.0,2.0,4.0,6.0,8.0,3.0,7.0,5.0,3.0,5.0,7.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,10.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,6.0,...,178142.0,274776.0,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,6.0,...,71764.0,156175.0,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Liệt kê các trận đấu và thông tin về leage và country tương ứng

Bảng Match có quan hệ với :
 - Bảng Country thông qua khóa country_id
 - Bảng League thông qua khóa League_id
 
Sử dụng câu lệnh join để kết nối dư liệu từ 3 bảng trên.

In [20]:
#write your query
query6 = '''select N.Country, N.League_name,Match.*
            from Match left join (select *,Country.name as Country, League.name as 'League_name' 
                                    from Country inner join League on Country.id = League.country_id   
            ) as N
            ON Match.country_id = N.country_id
            '''
result6 = pd.read_sql(query6,conn)
result6

,Country,League_name,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,...,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,Belgium,Belgium Jupiler League,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,Belgium,Belgium Jupiler League,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,Belgium,Belgium Jupiler League,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,Belgium,Belgium Jupiler League,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,Belgium,Belgium Jupiler League,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,Switzerland,Switzerland Super League,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,...,195215.0,462944.0,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,Switzerland,Switzerland Super League,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,1.0,3.0,5.0,7.0,2.0,4.0,6.0,8.0,5.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,3.0,5.0,7.0,3.0,5.0,7.0,1.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,9.0,11.0,11.0,1.0,3.0,3.0,3.0,...,37257.0,42276.0,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,Switzerland,Switzerland Super League,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,...,289472.0,10637.0,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,Switzerland,Switzerland Super League,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,1.0,2.0,4.0,6.0,8.0,3.0,7.0,5.0,3.0,5.0,7.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,10.0,10.0,10.0,1.0,3.0,3.0,3.0,...,178142.0,274776.0,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,Switzerland,Switzerland Super League,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,...,71764.0,156175.0,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Liệt kê số lượng trận đấu của mỗi giải đấu bao gồm cả tên giải đấu, sắp xếp theo thứ tự giảm dần số trận đấu

In [21]:
#write your query
query7 = '''select League.name as 'Tên giải đấu', count(Match.league_id) as 'Số trận đấu'
            from Match inner join League ON Match.league_id = League.id
            Group by Match.league_id
            Order by count(Match.league_id) DESC
            '''
result7 = pd.read_sql(query7,conn)
result7

                Tên giải đấu  Số trận đấu
0            Spain LIGA BBVA         3040
1             France Ligue 1         3040
2     England Premier League         3040
3              Italy Serie A         3017
4     Netherlands Eredivisie         2448
5      Germany 1. Bundesliga         2448
6   Portugal Liga ZON Sagres         2052
7         Poland Ekstraklasa         1920
8    Scotland Premier League         1824
9     Belgium Jupiler League         1728
10  Switzerland Super League         1422

## Liệt kê tổng số bàn thắng của đội nhà và đội khách trong mỗi giải đấu
- Sử dụng câu lệnh Group By

In [22]:
#write your query
query8 = '''select League.name as 'Tên giải đấu', sum(Match.home_team_goal) as 'Tổng bàn nhà', sum(Match.away_team_goal) as 'Tổng bàn khách'
            from Match inner join League ON Match.league_id = League.id
            Group by Match.league_id
            '''
result8 = pd.read_sql(query8,conn)
result8

                Tên giải đấu  Tổng bàn nhà  Tổng bàn khách
0     Belgium Jupiler League          2781            2060
1     England Premier League          4715            3525
2             France Ligue 1          4265            3162
3      Germany 1. Bundesliga          3982            3121
4              Italy Serie A          4528            3367
5     Netherlands Eredivisie          4357            3185
6         Poland Ekstraklasa          2678            1978
7   Portugal Liga ZON Sagres          2890            2311
8    Scotland Premier League          2607            2197
9            Spain LIGA BBVA          4959            3453
10  Switzerland Super League          2365            1801

##  Liệt kê thông tin các đội từ bảng “Team”

In [23]:
#write your query
query9='''select * from Team '''
result9 = pd.read_sql(query9, conn)
result9

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

## Liệt kê 20 đội với số bàn thắng sân nhà cao nhất
- Sử dung câu lênh GROUP BY, LIMIT

In [24]:
#write your query
query10 = '''select Team.team_long_name as 'Tên giải đấu', sum(Match.home_team_goal) as 'Tổng bàn nhà'
            from Match left join Team ON Match.home_team_api_id = Team.team_api_id
            Group by Match.home_team_api_id
            Order by sum(Match.home_team_goal) DESC
            LIMIT 10
            '''
result10 = pd.read_sql(query10,conn)
result10

        Tên giải đấu  Tổng bàn nhà
0     Real Madrid CF           505
1       FC Barcelona           495
2             Celtic           389
3   FC Bayern Munich           382
4                PSV           370
5    Manchester City           365
6               Ajax           360
7           FC Basel           344
8  Manchester United           338
9            Chelsea           333

## Liệt kê 20 đội có số bàn thắng trên sân khách cao nhất
- Sử dụng câu lênh GROUP BY, LIMIT

In [25]:
#write your query
query11 = '''select Team.team_api_id,Team.team_long_name as 'Tên đội bóng', sum(away_team_goal) as "Tổng số bàn thắng sân khách" 
            from Match inner join Team ON Match.away_team_api_id = Team.team_api_id
            group by Match.away_team_api_id
            order by "Tổng số bàn thắng sân khách" DESC
            LIMIT 20
            '''
result11 = pd.read_sql(query11,conn)
result11

    team_api_id         Tên đội bóng  Tổng số bàn thắng sân khách
0          8634         FC Barcelona                          354
1          8633       Real Madrid CF                          338
2          9925               Celtic                          306
3          8593                 Ajax                          287
4          8640                  PSV                          282
5          9931             FC Basel                          275
6          9823     FC Bayern Munich                          271
7          9825              Arsenal                          267
8          9789    Borussia Dortmund                          253
9          8455              Chelsea                          250
10         9772           SL Benfica                          247
11         9773             FC Porto                          246
12        10260    Manchester United                          244
13         8456      Manchester City                          241
14         8650            Liverpool                          237
15         9885             Juventus                          236
16         9847  Paris Saint-Germain                          236
17         8686                 Roma                          231
18        10243            FC Zürich                          227
19         8586    Tottenham Hotspur                          226

## Liệt kê tên các đội bóng và tổng số bàn thắng mỗi đội, sắp xếp  theo số lượng giảm dần

- Tổng số bàn thắng của một đội bao gồm cả số bàn thắng ở sân nhà và sân khách.
- Sử dụng câu lệnh Union

In [26]:
#write your query
query12 = ''' select T.team_long_name as 'Tên đội bóng', sum(Total) as 'Tổng bàn thắng'
            from
            (select country_id,league_id,home_team_api_id, sum(home_team_goal) as 'Total'
                from Match
                group by home_team_api_id
                union
                select country_id,league_id,away_team_api_id, sum(away_team_goal) as 'Bàn thắng sân khách'
                from Match
                group by away_team_api_id) as N 
            left join Team as T on N.home_team_api_id = T.team_api_id
            group by N.home_team_api_id
            order by Total DESC
            '''

result12 = pd.read_sql(query12,conn)
result12

         Tên đội bóng  Tổng bàn thắng
0        FC Barcelona             849
1      Real Madrid CF             843
2              Celtic             695
3                Ajax             647
4                 PSV             652
..                ...             ...
294      FC Dordrecht              24
295  Uniao da Madeira              27
296  AC Arles-Avignon              21
297   Reggio Calabria              30
298           FC Metz              31

[299 rows x 2 columns]

##  Liệt kê tên các đội bóng (long name) và tổng số trận đấu đội đó tham gia, sắp xếp theo thứ tự giảm dần.

In [28]:
#write your query
query13 = '''select T.team_long_name as 'Tên đội bóng', sum(home_match) as 'Tổng số trận'
            from (select Team.team_long_name , count(Match.home_team_api_id) as 'home_match'
                from Match left join Team ON Match.home_team_api_id = Team.team_api_id
                Group by Match.home_team_api_id
             UNION ALL
                select Team.team_long_name, count(Match.away_team_api_id) as 'away_match'
                from Match left join Team ON Match.away_team_api_id = Team.team_api_id
                Group by Match.away_team_api_id) as T
            group by T.team_long_name
            order by sum(home_match) DESC
            '''
result13 = pd.read_sql(query13,conn)
result13

                     Tên đội bóng  Tổng số trận
0                     Valencia CF           304
1                     Toulouse FC           304
2               Tottenham Hotspur           304
3                      Sunderland           304
4                      Stoke City           304
..                            ...           ...
291  Termalica Bruk-Bet Nieciecza            30
292                  Portimonense            30
293                     KAS Eupen            30
294                      Feirense            30
295                       Amadora            30

[296 rows x 2 columns]

## Liệt kê số trận thắng, thua và hòa của mỗi đội.

- Nếu một đội có số lượng bàn thắng trên sân nhà > số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "thắng" trong trận đấu này
- Nếu một đội có số lượng bàn thắng trên sân nhà < số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "thua" trong trận đấu này
- Nếu một đội có số lượng bàn thắng trên sân nhà = số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "hòa" trong trận đấu này
- Sử dụng câu lệnh "Case When"

In [39]:
#write your query
query14_1 = ''' select T.Team_name as ' Tên đội', count(Result) as 'Số trận thắng'
            from (select Team.team_long_name as 'Team_name',M.home_team_goal,M.away_team_goal ,
                    (CASE 
                    when M.home_team_goal > M.away_team_goal then 'thắng'
                    when M.home_team_goal < M.away_team_goal then 'thua'
                    when M.home_team_goal = M.away_team_goal then 'hòa' END) as Result
                    from Match as M left join Team ON M.home_team_api_id = Team.team_api_id) as T
            where T.Result = 'thắng'
            group by T.Team_name
            order by count(Result) DESC
            '''
result14_1 = pd.read_sql(query14_1,conn)
result14_1

                   Tên đội  Số trận thắng
0             FC Barcelona            131
1           Real Madrid CF            129
2                   Celtic            120
3        Manchester United            116
4          Manchester City            113
..                     ...            ...
290        SV Darmstadt 98              2
291  DSC Arminia Bielefeld              2
292       AC Arles-Avignon              2
293   Dunfermline Athletic              1
294             Córdoba CF              1

[295 rows x 2 columns]

In [41]:
#write your query
query14_2 = ''' select T.Team_name as ' Tên đội', count(Result) as 'Số trận thua'
            from (select Team.team_long_name as 'Team_name',M.home_team_goal,M.away_team_goal ,
                    (CASE 
                    when M.home_team_goal > M.away_team_goal then 'thắng'
                    when M.home_team_goal < M.away_team_goal then 'thua'
                    when M.home_team_goal = M.away_team_goal then 'hòa' END) as Result
                    from Match as M left join Team ON M.home_team_api_id = Team.team_api_id) as T
            where T.Result = 'thua'
            group by T.Team_name
            order by count(Result) ASC
            '''
result14_2 = pd.read_sql(query14_2,conn)
result14_2

                  Tên đội  Số trận thua
0                 Amadora             4
1              Angers SCO             5
2             CD Tenerife             5
3        FC Ingolstadt 04             5
4                Feirense             5
..                    ...           ...
291  West Bromwich Albion            52
292            St. Mirren            55
293            Sunderland            56
294           Aston Villa            57
295            Kilmarnock            72

[296 rows x 2 columns]

In [42]:
#write your query
query14_3 = ''' select T.Team_name as ' Tên đội', count(Result) as 'Số trận hòa'
            from (select Team.team_long_name as 'Team_name',M.home_team_goal,M.away_team_goal ,
                    (CASE 
                    when M.home_team_goal > M.away_team_goal then 'thắng'
                    when M.home_team_goal < M.away_team_goal then 'thua'
                    when M.home_team_goal = M.away_team_goal then 'hòa' END) as Result
                    from Match as M left join Team ON M.home_team_api_id = Team.team_api_id) as T
            where T.Result = 'hòa'
            group by T.Team_name
            order by count(Result) DESC
            '''
result14_3 = pd.read_sql(query14_3,conn)
result14_3

                    Tên đội  Số trận hòa
0             Chievo Verona           54
1                FC Lorient           53
2               Toulouse FC           50
3          Stade Rennais FC           50
4               Aston Villa           50
..                      ...          ...
290  Eintracht Braunschweig            3
291             CD Numancia            3
292                  Tubize            2
293                 Pescara            1
294      FC Energie Cottbus            1

[295 rows x 2 columns]

In [49]:
result14 = [result14_1,result14_2,result14_3]
result14 = pd.merge(result14_1,result14_2,on=result14_2.columns[0])
result14 = pd.merge(result14,result14_3,on=result14_2.columns[0])
result14

                   Tên đội  Số trận thắng  Số trận thua  Số trận hòa
0             FC Barcelona            131             9           12
1           Real Madrid CF            129            12           11
2                   Celtic            120             9           23
3        Manchester United            116            20           16
4          Manchester City            113            21           18
..                     ...            ...           ...          ...
289        SV Darmstadt 98              2             9            6
290  DSC Arminia Bielefeld              2             7            8
291       AC Arles-Avignon              2            11            6
292   Dunfermline Athletic              1            11            7
293             Córdoba CF              1            12            6

[294 rows x 4 columns]

## Liệt kê 10 đội có số trận thắng nhiều nhất

In [50]:
#write your query
query15 = ''' select T.Team_name as ' Tên đội', count(Result) as 'Số trận thắng'
            from (select Team.team_long_name as 'Team_name',M.home_team_goal,M.away_team_goal ,
                    (CASE 
                    when M.home_team_goal > M.away_team_goal then 'thắng'
                    when M.home_team_goal < M.away_team_goal then 'thua'
                    when M.home_team_goal = M.away_team_goal then 'hòa' END) as Result
                    from Match as M left join Team ON M.home_team_api_id = Team.team_api_id) as T
            where T.Result = 'thắng'
            group by T.Team_name
            order by count(Result) DESC
            LIMIT 10
            '''
result15 = pd.read_sql(query15,conn)
result15

             Tên đội  Số trận thắng
0       FC Barcelona            131
1     Real Madrid CF            129
2             Celtic            120
3  Manchester United            116
4    Manchester City            113
5   FC Bayern Munich            109
6                PSV            105
7           Juventus            105
8           FC Basel            103
9    Atlético Madrid            103

##  Liệt kê tỉ lệ phần trăm về số trận của mỗi giải trên tổng tất cả các trận

In [122]:
#write your query
from __future__ import division
query16= '''select T.league_id,L.name as 'Tên giải đấu', T.Total*100/(select count(match_api_id) from Match) as 'Tỉ lệ phần trăm'
            from 
            (select league_id,count(match_api_id) as Total from Match group by league_id) as T
            left join League as L on T.league_id = L.id



'''
result16=pd.read_sql(query16,conn)
result16

    league_id              Tên giải đấu  Tỉ lệ phần trăm
0           1    Belgium Jupiler League                6
1        1729    England Premier League               11
2        4769            France Ligue 1               11
3        7809     Germany 1. Bundesliga                9
4       10257             Italy Serie A               11
5       13274    Netherlands Eredivisie                9
6       15722        Poland Ekstraklasa                7
7       17642  Portugal Liga ZON Sagres                7
8       19694   Scotland Premier League                7
9       21518           Spain LIGA BBVA               11
10      24558  Switzerland Super League                5

## Liệt kê tỉ lệ phần trăm về số bàn ghi được của từng giải so với tổng số bàn của tất cả các trận.

In [104]:
#write your query
query17= '''select T.*,T.Total_goal*100/(select sum(home_team_goal)+sum(away_team_goal) from Match) as 'Tỉ lệ phần trăm'
            from (select M.league_id,L.name as 'Tên giải đấu', sum(M.home_team_goal)+sum(M.away_team_goal) as Total_goal
            from Match as M left join League as L on M.league_id = L.id
            group by league_id) as T
'''

result17=pd.read_sql(query17,conn)
result17

    league_id              Tên giải đấu  Total_goal  Tỉ lệ phần trăm
0           1    Belgium Jupiler League        4841                6
1        1729    England Premier League        8240               11
2        4769            France Ligue 1        7427               10
3        7809     Germany 1. Bundesliga        7103               10
4       10257             Italy Serie A        7895               11
5       13274    Netherlands Eredivisie        7542               10
6       15722        Poland Ekstraklasa        4656                6
7       17642  Portugal Liga ZON Sagres        5201                7
8       19694   Scotland Premier League        4804                6
9       21518           Spain LIGA BBVA        8412               11
10      24558  Switzerland Super League        4166                5

## Liệt kê tổng số bàn ghi được của từng giải đấu theo từng mùa giải.

In [57]:
#DỮ LIỆU CÓ VẤN ĐỀ ??????
#write your query
query18 = ''' select T.league_id,League.name,T.season,T.Total_goal
              from (select league_id, season,sum(home_team_goal) + sum(away_team_goal) as Total_goal
              from Match
              group by league_id) as T left join League on T.league_id = League.id
              order by Total_goal DESC
            '''
result18 = pd.read_sql(query18,conn)
result18

    league_id                      name     season  Total_goal
0       21518           Spain LIGA BBVA  2008/2009        8412
1        1729    England Premier League  2008/2009        8240
2       10257             Italy Serie A  2008/2009        7895
3       13274    Netherlands Eredivisie  2008/2009        7542
4        4769            France Ligue 1  2008/2009        7427
5        7809     Germany 1. Bundesliga  2008/2009        7103
6       17642  Portugal Liga ZON Sagres  2008/2009        5201
7           1    Belgium Jupiler League  2008/2009        4841
8       19694   Scotland Premier League  2008/2009        4804
9       15722        Poland Ekstraklasa  2008/2009        4656
10      24558  Switzerland Super League  2008/2009        4166

##  Liệt kê thông tin cầu thủ:

- Quy đổi cân nặng sang kilogram
- Quy đổi chiều cao sang mét
- Tính chỉ số bmi = ( (weight* 0.453592) / (height/100)^2)
- Tính tuổi của cầu thủ

In [58]:
#write your query
query19 = ''' select *, 
        ( strftime('%Y','now')-strftime('%Y',birthday) - (strftime('%m','now') > strftime('%m',birthday)) ) as Aged,
        round(height/100,2) as 'height(m)',round(weight*0.453592,2) as 'weight(kg)',  
        round((weight* 0.453592) / power(height/100,2),2) as 'bmi'
            from Player '''
result19 = pd.read_sql(query19,conn)
result19

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,Aged,height(m),weight(kg),bmi
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,29,1.83,84.82,25.36
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146,33,1.70,66.22,22.87
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163,30,1.70,73.94,25.53
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198,39,1.83,89.81,26.85
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154,43,1.83,69.85,20.89
...,...,...,...,...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168,42,1.83,76.20,22.78
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176,36,1.83,79.83,23.87
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154,42,1.80,69.85,21.48
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172,41,1.85,78.02,22.69
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176,39,1.80,79.83,24.55

## Liệt kê cầu thủ lớn tuổi nhất

In [59]:
#write your query
#write your query
query20 = ''' select T.*, max(T.Aged) as 'Aged'
        from (select *, ( strftime('%Y','now')-strftime('%Y',birthday) - (strftime('%m','now') > strftime('%m',birthday)) ) as Aged,
        round(height/100,2) as 'height(m)',round(weight*0.453592,2) as 'weight(kg)',  
        round((weight* 0.453592) / power(height/100,2),2) as bmi
        from Player) as T '''
result20 = pd.read_sql(query20,conn)
result20

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,Aged,height(m),weight(kg),bmi,Aged
0,290,39425,Alberto Fontana,2431,1967-01-23 00:00:00,185.42,161,54,1.85,73.03,21.24,54